<form [formGroup]="formulario" (ngSubmit)="onRegister()" class="bg-black border border-gray-800 rounded-2xl p-8 shadow-2xl w-full max-w-sm text-white mx-auto mb-6
         min-w-[350px] overflow-hidden">

    <div class="flex justify-center mb-6">
        <img src="icono.png" alt="Icono" class="h-24 w-24 bg-white rounded-md p-1" />
    </div>

    <h1 class="text-3xl font-extrabold text-center mb-3 tracking-wide">
        Registro
    </h1>

    <div class="mb-3">
        <label for="name" class="block text-sm font-medium mb-1 text-gray-400">Nombre</label>
        <input id="name" type="text" formControlName="name" placeholder="Tu nombre" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('name')?.touched &&
            formulario.get('name')?.errors?.['required']) {
            El nombre es obligatorio. } @if (formulario.get('name')?.touched &&
            formulario.get('name')?.errors?.['minlength']) { Debe tener al menos 2
            caracteres. } @if (formulario.get('name')?.touched &&
            formulario.get('name')?.errors?.['maxlength']) { Debe ser menor a 26
            caracteres. }
        </div>
    </div>

    <div class="mb-3">
        <label for="lastName" class="block text-sm font-medium mb-1 text-gray-400">Apellido</label>
        <input id="lastName" type="text" formControlName="lastName" placeholder="Tu apellido" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('lastName')?.touched &&
            formulario.get('lastName')?.errors?.['required']) { El apellido es
            obligatorio. } @if (formulario.get('lastName')?.touched &&
            formulario.get('lastName')?.errors?.['minlength']) { Debe tener al menos 2
            caracteres. } @if (formulario.get('lastName')?.touched &&
            formulario.get('lastName')?.errors?.['maxlength']) { Debe ser menor a 26
            caracteres. }
        </div>
    </div>

    <div class="mb-3">
        <label for="username" class="block text-sm font-medium mb-1 text-gray-400">Nombre de usuario</label>
        <input id="username" type="text" formControlName="username" placeholder="Tu usuario"
            class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('username')?.touched &&
            formulario.get('username')?.errors?.['required']) { El usuario es
            obligatorio. } @if (formulario.get('username')?.touched &&
            formulario.get('username')?.errors?.['minlength']) { Debe tener al menos 4
            caracteres. }
        </div>
    </div>

    <div class="mb-3">
        <label for="email" class="block text-sm font-medium mb-1 text-gray-400">Correo electrónico</label>
        <input id="email" type="email" formControlName="email" placeholder="ejemplo@correo.com" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('email')?.invalid && formulario.get('email')?.touched)
            { Ingresa un correo válido. }
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="block text-sm font-medium mb-1 text-gray-400">Contraseña</label>
        <input id="password" type="password" formControlName="password" placeholder="••••••••" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-6 text-red-700 text-sm mt-1">
            @if (formulario.get('password')?.touched &&
            formulario.get('password')?.errors?.['required']) { La contraseña es
            obligatoria. } @if (formulario.get('password')?.touched &&
            formulario.get('password')?.errors?.['minlength']) { Debe tener al menos 8
            caracteres. } @if (formulario.get('password')?.touched &&
            formulario.get('password')?.errors?.['pattern']) { Debe tener al menos 1
            mayúscula y 1 número. }
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="block text-sm font-medium mb-1 text-gray-400">Repetir Contraseña</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="••••••••" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-6 text-red-700 text-sm mt-1">
            @if (formulario.get('confirmPassword')?.touched &&
            formulario.get('confirmPassword')?.errors?.['required']) { Confirma la
            contraseña. } @if (formulario.touched &&
            formulario.errors?.['passwordsMismatch']) { Las contraseñas no coinciden. }
        </div>
    </div>

    <div class="mb-3">
        <label for="birthDate" class="block text-sm font-medium mb-1 text-gray-400">Fecha de nacimiento</label>
        <input id="birthDate" type="date" formControlName="birthDate" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition" />
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('birthDate')?.touched &&
            formulario.get('birthDate')?.errors?.['required']) { La fecha de nacimiento
            es obligatoria. }
        </div>
    </div>

    <!-- <div class="mb-3">
        <label for="perfil" class="block text-sm font-medium mb-1 text-gray-400">Tipo de Perfil</label>
        <select id="perfil" formControlName="perfil" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition">
            <option value="usuario">Usuario</option>
            <option value="administrador">Administrador</option>
        </select>
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('perfil')?.touched &&
            formulario.get('perfil')?.errors?.['required']) { El perfil es
            obligatorio. }
        </div>
    </div> -->

    <div class="mb-3">
        <label for="description" class="block text-sm font-medium mb-1 text-gray-400">Descripción breve</label>
        <textarea id="description" formControlName="description" placeholder="Descripción breve, max 50 caracteres"
            rows="3" class="w-full px-4 py-3 rounded-xl border border-gray-700 bg-gray-900 text-white placeholder-gray-500 
            focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent transition"></textarea>
        <div class="h-5 text-red-700 text-sm mt-1">
            @if (formulario.get('description')?.touched &&
            formulario.get('description')?.errors?.['required']) { La descripción es
            obligatoria. }
            @if (formulario.get('description')?.errors?.['maxlength']) { La descripción
            es muy larga. }
        </div>
    </div>

    <!-- seleccionar foto -->
    <div class="flex flex-col items-center gap-3 mt-4">

        <!-- Botón cuando NO hay foto -->
        @if (!previewImage) {
        <button type="button" (click)="fileInput.click()" class="w-full py-3 px-4 rounded-xl bg-gray-800 hover:bg-gray-700 text-white font-semibold shadow-lg border border-gray-700
                   flex items-center justify-center gap-2 transition-all duration-200 cursor-pointer">

            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 7h2l2-3h10l2 3h2v13H3V7z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 11v6m3-3H9" />
            </svg>

            Seleccionar foto
        </button>

        <input type="file" #fileInput accept="image/*" (change)="onImageSelected($event)" hidden />
        }

        <!-- Vista previa de la foto -->
        @if (previewImage) {
        <div class="relative">
            <img [src]="previewImage" alt="Foto seleccionada"
                class="w-28 h-28 object-cover rounded-2xl border border-gray-700 shadow-lg" />

            <!-- boton borrar -->
            <button type="button" (click)="removePicture()"
                class="absolute -top-2 -right-2 bg-red-600 hover:bg-red-700 text-white rounded-full w-7 h-7 flex items-center justify-center shadow-md transition cursor-pointer">
                ✕
            </button>
        </div>
        }
    </div>

    <div class="h-5 text-red-700 text-sm mt-1">
        @if (formulario.get('image_url')?.invalid && formulario.get('image_url')?.touched) {
        La imagen es obligatoria.
        }
    </div>

    <button type="submit "
        class="w-full bg-gray-800 hover:bg-gray-700 text-white font-bold mt-2 py-3 px-4 rounded-2xl shadow-lg transition-transform duration-200 transform hover:-translate-y-1 hover:shadow-gray-700/50 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer">
        Registrarse
    </button>
    @if (registerError) {
    <div class="mt-4 text-center text-red-700 font-medium">
        {{ registerError }}
    </div>
    }
</form>